In [13]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly.express as px 

df = pd.read_csv('Korean.csv')
df = df['Year'][1:4].value_counts().reset_index() 
df

           index  Year
0       (2021– )    96
1         (2016)    84
2       (2019– )    78
3         (2015)    76
4       (2018– )    71
..           ...   ...
168  (1991–1995)     1
169  (2005–2018)     1
170  (2005–2007)     1
171  (2003–2007)     1
172  (2003–2008)     1

[173 rows x 2 columns]