# <center> Assignment #1

## <center> Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. **

Unique values of all features (for more information, please see the links above):

- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
- `salary`: >50K,<=50K

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option("display.precision", 2)

**0. Load adult.csv dataset into this notebook.**

In [2]:
# You code here
df = pd.read_csv("adult.data.csv")
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

**1. How many men and women (_sex_ feature) are represented in this dataset?**

In [3]:
# You code here
df["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (_age_ feature) of women?**

In [4]:
# You code here
AverageAgeWomen = df[df["sex"] == "Female"]["age"].mean()
print("Average age of Women =", AverageAgeWomen)

Average age of Women = 36.85823043357163

**3. What is the percentage of German citizens (_native-country_ feature)?**

In [5]:
# You code here
g = df.loc[df['native-country'] == 'Germany']

In [6]:
print('max  =', g['age'].max())
print('min  =', g['age'].min())
print('mean =', g['age'].mean())
print('median =', g['age'].median())
print('p25  =', g['age'].quantile(0.25))
print('p50  =', g['age'].quantile(0.50))
print('p75  =', g['age'].quantile(0.75))
print('p95  =', g['age'].quantile(0.95))

max  = 74
min  = 18
mean = 39.25547445255474
median = 36.0
p25  = 29.0
p50  = 36.0
p75  = 47.0
p95  = 62.599999999999966

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (_salary_ feature) and those who earn less than 50K per year? **

In [7]:
df['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

In [8]:
# You code here
lessthan = df[df['salary'].apply(lambda a: a[0] == '<')]
greatthan = df[df['salary'].apply(lambda b: b[0] == '>')]

In [25]:
lessthanmean = lessthan['age'].mean()
lessthanstd = lessthan['age'].std()
print("Less than 50K mean age =", lessthanmean)
print("Less than 50K Standard Deviation age =", lessthanstd)

Less than 50K mean age = 36.78373786407767
Less than 50K Standard Deviation age = 14.020088490824813

In [10]:
greatthanmean = greatthan['age'].mean()
greatthanstd = greatthan['age'].std()
print("Greater than 50K mean age = ", greatthanmean)
print("Greater than 50K Standard Deviation age = ", greatthanstd)

Greater than 50K mean age =  44.24984058155847
Greater than 50K Standard Deviation age =  10.51902771985177

**6. Is it true that people who earn more than 50K have at least high school education? (_education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters_ or _Doctorate_ feature)**

In [11]:
# You code here
temp = df[df['education'].isin(['HS-grad', 'Bachelors', 'Prof-school','Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'])]['salary'] == '>50K'
temp.all()

False

**7. Display age statistics for each race (_race_ feature) and each gender (_sex_ feature). Use _groupby()_ and _describe()_. Find the maximum age of men of _Amer-Indian-Eskimo_ race.**

In [12]:
# You code here
allrace = df.groupby(['race', 'sex'])['age'].describe()
allrace

                             count   mean    std   min   25%   50%    75%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.12  13.11  17.0  27.0  36.0  46.00
                   Male      192.0  37.21  12.05  17.0  28.0  35.0  45.00
Asian-Pac-Islander Female    346.0  35.09  12.30  17.0  25.0  33.0  43.75
                   Male      693.0  39.07  12.88  18.0  29.0  37.0  46.00
Black              Female   1555.0  37.85  12.64  17.0  28.0  37.0  46.00
                   Male     1569.0  37.68  12.88  17.0  27.0  36.0  46.00
Other              Female    109.0  31.68  11.63  17.0  23.0  29.0  39.00
                   Male      162.0  34.65  11.36  17.0  26.0  32.0  42.00
White              Female   8642.0  36.81  14.33  17.0  25.0  35.0  46.00
                   Male    19174.0  39.65  13.44  17.0  29.0  38.0  49.00

                            max
race               sex
Amer-Indian-Eskimo Female  80.0
                   Male    82.0
Asian-Pac-Islander Female  75.0
                   Male    90.0
Black              Female  90.0
                   Male    90.0
Other              Female  74.0
                   Male    77.0
White              Female  90.0
                   Male    90.0

In [13]:
df.loc[(df['race'] == 'Amer-Indian-Eskimo') & (df['sex'] == 'Male')]['age'].max()

82

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (_marital-status_ feature)? Consider as married those who have a _marital-status_ starting with _Married_ (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [14]:
df['marital-status'].unique()

array(['Never-married', 'Married-civ-spouse', 'Divorced',
       'Married-spouse-absent', 'Separated', 'Married-AF-spouse',
       'Widowed'], dtype=object)

In [15]:
# You code here
single = len(df.loc[(df['salary'] == '>50K') & (df['sex'] == 'Male') & (df['marital-status'].isin(['Never-married', 'Divorced', 'Separated', 'Widowed']))])
marry = len(df.loc[(df['salary'] == '>50K') & (df['sex'] == 'Male') & (df['marital-status'].isin(['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']))])
allmaritalstatus = len(df.loc[(df['sex'] == 'Male') & (df['salary'] == '>50K')])
print((single/allmaritalstatus)*100, '%')
print((marry/allmaritalstatus)*100, '%')

10.462323626538577 %
89.53767637346142 %

**9. What is the maximum number of hours a person works per week (_hours-per-week_ feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [16]:
# You code here
maxhpw = df['hours-per-week'].max()
print('Maximum Number of hours a person work per week', maxhpw, 'hours')

Maximum Number of hours a person work per week 99 hours

In [17]:
number_of_people = len(df[df['hours-per-week'] == 99])
print('Number of people who work per week (',maxhpw, ') is ', number_of_people, 'people')

Number of people who work per week ( 99 ) is  85 people

In [18]:
print('p25  =', greatthan['hours-per-week'].quantile(0.25))
print('p50  =', greatthan['hours-per-week'].quantile(0.50))
print('p75  =', greatthan['hours-per-week'].quantile(0.75))
print('p95  =', greatthan['hours-per-week'].quantile(0.95))

p25  = 40.0
p50  = 40.0
p75  = 50.0
p95  = 64.0

**10. Count the average time of work (_hours-per-week_) for those who earn a little and a lot (_salary_) for each country (_native-country_). What will these be for Japan?**

In [19]:
# You code here
df['native-country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [20]:
df['native-country'].value_counts().count()

42

In [21]:
df.groupby(['native-country', 'salary']).mean()['hours-per-week'].to_frame()

                       hours-per-week
native-country salary
?              <=50K            40.16
               >50K             45.55
Cambodia       <=50K            41.42
               >50K             40.00
Canada         <=50K            37.91
...                               ...
United-States  >50K             45.51
Vietnam        <=50K            37.19
               >50K             39.20
Yugoslavia     <=50K            41.60
               >50K             49.50

[82 rows x 1 columns]

In [22]:
df.groupby(['native-country', 'salary']).mean().loc[['Japan'], ['hours-per-week']]

                       hours-per-week
native-country salary
Japan          <=50K            41.00
               >50K             47.96

In [23]:
df.loc[(df['salary'] == '<=50K') & (df['native-country'] == 'Japan')]['hours-per-week'].mean()

41.0

In [24]:
df.loc[(df['salary'] == '>50K') & (df['native-country'] == 'Japan')]['hours-per-week'].mean()

47.958333333333336